In [1]:
import pandas as pd

In [2]:
bzs = pd.read_csv('eleitorado/base_pesquisa/BAIRROS_ZONA_SECAO.csv', sep=';', encoding='utf-8')

In [3]:
elei = pd.read_csv('eleitorado/base_pesquisa/perfil_eleitor_secao_2020_RS.csv', sep = ';',encoding="ISO-8859-1", usecols =['NM_MUNICIPIO' , 'NR_ZONA', 'NR_SECAO','DS_GENERO', 'DS_ESTADO_CIVIL', 'DS_FAIXA_ETARIA', 'DS_GRAU_ESCOLARIDADE', 'QT_ELEITORES_PERFIL' , 'QT_ELEITORES_INC_NM_SOCIAL', 'QT_ELEITORES_DEFICIENCIA'])

In [4]:
selecao = (elei['NM_MUNICIPIO'] == 'PORTO ALEGRE') & (elei['DS_GENERO'] == 'MASCULINO')

In [5]:
elei_poa = elei[selecao]

In [6]:
elei_poa.sort_values(ascending=False, by=['QT_ELEITORES_PERFIL'])

,NM_MUNICIPIO,NR_ZONA,NR_SECAO,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
2857624,PORTO ALEGRE,158,501,MASCULINO,SOLTEIRO,25 a 29 anos,ENSINO MÉDIO INCOMPLETO,61,0,0
3913877,PORTO ALEGRE,158,437,MASCULINO,SOLTEIRO,35 a 39 anos,ENSINO MÉDIO INCOMPLETO,55,0,0
4023234,PORTO ALEGRE,161,46,MASCULINO,SOLTEIRO,25 a 29 anos,ENSINO MÉDIO INCOMPLETO,52,0,0
645032,PORTO ALEGRE,161,437,MASCULINO,SOLTEIRO,40 a 44 anos,ENSINO FUNDAMENTAL INCOMPLETO,52,0,0
3890703,PORTO ALEGRE,1,233,MASCULINO,SOLTEIRO,40 a 44 anos,ENSINO MÉDIO INCOMPLETO,52,0,0
...,...,...,...,...,...,...,...,...,...,...
2031373,PORTO ALEGRE,2,64,MASCULINO,CASADO,85 a 89 anos,ENSINO MÉDIO COMPLETO,1,0,0
2031374,PORTO ALEGRE,2,64,MASCULINO,CASADO,85 a 89 anos,SUPERIOR INCOMPLETO,1,0,0
2031376,PORTO ALEGRE,2,64,MASCULINO,CASADO,90 a 94 anos,ENSINO MÉDIO COMPLETO,1,0,0
2031377,PORTO ALEGRE,2,64,MASCULINO,CASADO,90 a 94 anos,SUPERIOR COMPLETO,1,0,0
2312650,PORTO ALEGRE,2,62,MASCULINO,SOLTEIRO,25 a 29 anos,ENSINO FUNDAMENTAL INCOMPLETO,1,0,0

In [7]:
elei_bairro = pd.merge(elei_poa, bzs,
                  how='inner',
                 on=['NR_ZONA', 'NR_SECAO'])

In [8]:
elei_bairro.sort_values(ascending=False, by=['QT_ELEITORES_PERFIL'])

,NM_MUNICIPIO,NR_ZONA,NR_SECAO,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL,BAIRRO
142553,PORTO ALEGRE,158,501,MASCULINO,SOLTEIRO,25 a 29 anos,ENSINO MÉDIO INCOMPLETO,61,0,0,RUBEM BERTA
194791,PORTO ALEGRE,158,437,MASCULINO,SOLTEIRO,35 a 39 anos,ENSINO MÉDIO INCOMPLETO,55,0,0,SANTA ROSA
192553,PORTO ALEGRE,1,233,MASCULINO,SOLTEIRO,40 a 44 anos,ENSINO MÉDIO INCOMPLETO,52,0,0,MENINO DEUS
195723,PORTO ALEGRE,161,46,MASCULINO,SOLTEIRO,25 a 29 anos,ENSINO MÉDIO INCOMPLETO,52,0,0,RESTINGA
25794,PORTO ALEGRE,161,437,MASCULINO,SOLTEIRO,40 a 44 anos,ENSINO FUNDAMENTAL INCOMPLETO,52,0,0,RESTINGA
...,...,...,...,...,...,...,...,...,...,...,...
92171,PORTO ALEGRE,1,220,MASCULINO,CASADO,21 a 24 anos,ENSINO MÉDIO INCOMPLETO,1,0,0,ILHA DAS FLORES
92172,PORTO ALEGRE,1,220,MASCULINO,CASADO,25 a 29 anos,ENSINO FUNDAMENTAL COMPLETO,1,0,0,ILHA DAS FLORES
92173,PORTO ALEGRE,1,220,MASCULINO,CASADO,25 a 29 anos,ENSINO MÉDIO COMPLETO,1,0,0,ILHA DAS FLORES
92174,PORTO ALEGRE,1,220,MASCULINO,CASADO,30 a 34 anos,ENSINO MÉDIO INCOMPLETO,1,0,0,ILHA DAS FLORES
218809,PORTO ALEGRE,160,486,MASCULINO,DIVORCIADO,65 a 69 anos,SUPERIOR COMPLETO,1,0,0,CRISTAL

In [9]:
elei_bairro.sort_values(ascending=False, by=['QT_ELEITORES_PERFIL'])

selecao = ['DS_GRAU_ESCOLARIDADE', 'DS_FAIXA_ETARIA', 'DS_ESTADO_CIVIL', 'BAIRRO'] 
ele = elei_bairro.filter(items=selecao)

In [10]:
ele['DS_GRAU_ESCOLARIDADE'].value_counts(normalize=True)*100

ENSINO MÉDIO COMPLETO            20.922718
ENSINO FUNDAMENTAL INCOMPLETO    17.886751
SUPERIOR COMPLETO                16.621727
ENSINO MÉDIO INCOMPLETO          14.511220
SUPERIOR INCOMPLETO              12.566610
ENSINO FUNDAMENTAL COMPLETO      12.089027
LÊ E ESCREVE                      3.375074
ANALFABETO                        1.952379
NÃO INFORMADO                     0.074494
Name: DS_GRAU_ESCOLARIDADE, dtype: float64

In [11]:
ele['DS_FAIXA_ETARIA'].value_counts().to_csv('test_ms_idade.csv', sep = ';', encoding="ISO-8859-1")

In [12]:
ele['DS_ESTADO_CIVIL'].value_counts(normalize=True)*100

SOLTEIRO                  54.783602
CASADO                    34.921621
DIVORCIADO                 5.098487
SEPARADO JUDICIALMENTE     3.701842
VIÚVO                      1.310726
NÃO INFORMADO              0.183721
Name: DS_ESTADO_CIVIL, dtype: float64

In [15]:
ele['BAIRRO'].value_counts().to_csv('test_ms.csv', sep = ';', encoding="ISO-8859-1")